body {
    font-family: Silkscreen;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 3px 3px 8px #000000;
    color: #eee;

    background-image: url("pixel-camp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5a3a7d;
    height: 90vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.text {
    width: 70%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

h1 {
    font-family: Silkscreen;
    font-weight: 700;
    font-size: 40px;
    color: #eee;

    margin: 10px 0;
}

.textbox {
    padding: 10px;
    background-color: #000000cc;
    border: dashed goldenrod 4px;
    border-radius: 15px;
    margin: 10px 0;
}

#challenge {
    width: fit-content;
}

#scores {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    height: auto;
}

.player-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 80%;
}

.player-options input {
    background-color: #000000aa;
    border-radius: 20%;
    width: 20%;
    height: auto;
    
}

.choice button {
    background-color: #00000000;
    border: solid pink 4px;
    border-radius: 10%;
}

.choice button:hover {
    transform: scale(110%);
    transition: 1s ease-in-out;
}



.choice p {
    font-size: 20px;
    margin: 0 0 10px 0;
}

#round-result {
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
}

#play-again {
    background-color: #cccccc;
    border: #000000 dashed 3px;
    border-radius: 15px;
    font-family: Silkscreen;
    margin: 20px 0;
    font-size: 18px;
    padding: 5px 10px;
}

#play-again:hover {
    background-color: #332147;
    border-color: #cccccc;
    color: #cccccc;
}